
body div div{

}

#App {
  position: relative;
  width: 833px;
  height: 544px;
}

.list-container {
  list-style: none;
}

.list-item {
  border: 1px solid darkred;

}

.selected {
  background-color: papayawhip;
}
